extends layout

block content
    h1= title
    h2 Hello pug2
    h3 Hello pug3
    h4 Hello pug4
    h5 Hello pug5
    h6 Hello pug6

    p

    .row
        .col-5
            input.form-control(type="text", placeholder=".col-2")
        |   
        .col-3
            input.form-control(type="text", placeholder=".col-3")
        |   
        .col-4
            input.form-control(type="text", placeholder=".col-4")
    
    p


    form.form-inline
      label.sr-only(for="inlineFormInput") Name
      |   
      input#inlineFormInput.form-control.mb-2.mr-sm-2.mb-sm-0(type="text", placeholder="Jane Doe")
      |   
      label.sr-only(for="inlineFormInputGroup") Username
      |   
      .input-group.mb-2.mr-sm-2.mb-sm-0
        .input-group-addon @
        |     
        input#inlineFormInputGroup.form-control(type="text", placeholder="Username")
      |   
      .form-check.mb-2.mr-sm-2.mb-sm-0
        label.form-check-label
          input.form-check-input(type="checkbox")
          |  Remember me
      |   
      button.btn.btn-primary(type="submit") Submit

    p

    form.form-inline
      label.mr-sm-2(for="inlineFormCustomSelect") Preference
      |   
      select#inlineFormCustomSelect.custom-select.mb-2.mr-sm-2.mb-sm-0
        option(selected="") Choose...
        |     
        option(value="1") One
        |     
        option(value="2") Two
        |     
        option(value="3") Three
      |   
      label.custom-control.custom-checkbox.mb-2.mr-sm-2.mb-sm-0
        input.custom-control-input(type="checkbox")
        |     
        span.custom-control-indicator
        |     
        span.custom-control-description Remember my preference
      |   
      button.btn.btn-primary(type="submit") Submit

    p


    .form-group.row
      label.col-2.col-form-label(for="example-text-input") Text
      |   
      .col-10
        input#example-text-input.form-control(type="text", value="Artisanal kale")
    .form-group.row
      label.col-2.col-form-label(for="example-search-input") Search
      |   
      .col-10
        input#example-search-input.form-control(type="search", value="How do I shoot web")
    .form-group.row
      label.col-2.col-form-label(for="example-email-input") Email
      |   
      .col-10
        input#example-email-input.form-control(type="email", value="bootstrap@example.com")
    .form-group.row
      label.col-2.col-form-label(for="example-url-input") URL
      |   
      .col-10
        input#example-url-input.form-control(type="url", value="https://getbootstrap.com")
    .form-group.row
      label.col-2.col-form-label(for="example-tel-input") Telephone
      |   
      .col-10
        input#example-tel-input.form-control(type="tel", value="1-(555)-555-5555")
    .form-group.row
      label.col-2.col-form-label(for="example-password-input") Password
      |   
      .col-10
        input#example-password-input.form-control(type="password", value="hunter2")
    .form-group.row
      label.col-2.col-form-label(for="example-number-input") Number
      |   
      .col-10
        input#example-number-input.form-control(type="number", value="42")
    .form-group.row
      label.col-2.col-form-label(for="example-datetime-local-input") Date and time
      |   
      .col-10
        input#example-datetime-local-input.form-control(type="datetime-local", value="2011-08-19T13:45:00")
    .form-group.row
      label.col-2.col-form-label(for="example-date-input") Date
      |   
      .col-10
        input#example-date-input.form-control(type="date", value="2011-08-19")
    .form-group.row
      label.col-2.col-form-label(for="example-month-input") Month
      |   
      .col-10
        input#example-month-input.form-control(type="month", value="2011-08")
    .form-group.row
      label.col-2.col-form-label(for="example-week-input") Week
      |   
      .col-10
        input#example-week-input.form-control(type="week", value="2011-W33")
    .form-group.row
      label.col-2.col-form-label(for="example-time-input") Time
      |   
      .col-10
        input#example-time-input.form-control(type="time", value="13:45:00")
    .form-group.row
      label.col-2.col-form-label(for="example-color-input") Color
      |   
      .col-10
        input#example-color-input.form-control(type="color", value="#563d7c")

    p

    p
      a.btn.btn-primary(data-toggle="collapse", href="#collapseExample", aria-expanded="false", aria-controls="collapseExample")
        | Link with href
      |   
      button.btn.btn-primary(type="button", data-toggle="collapse", data-target="#collapseExample", aria-expanded="false", aria-controls="collapseExample")
        | Button with data-target
    #collapseExample.collapse
      .card.card-block
        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.


    #carouselExampleIndicators.carousel.slide(data-ride="carousel")
      ol.carousel-indicators
        li.active(data-target="#carouselExampleIndicators", data-slide-to="0")
        |     
        li(data-target="#carouselExampleIndicators", data-slide-to="1")
        |     
        li(data-target="#carouselExampleIndicators", data-slide-to="2")
      |   
      .carousel-inner(role="listbox")
        .carousel-item.active
          img.d-block.img-fluid(src="https://i.ytimg.com/vi/z2zAMehCR7E/hqdefault.jpg", alt="First slide")
        |     
        .carousel-item
          img.d-block.img-fluid(src="http://img.etoday.co.kr/pto_db/2017/05/20170515030719_1063314_600_377.jpg", alt="Second slide")
        |     
        .carousel-item
          img.d-block.img-fluid(src="http://upload2.inven.co.kr/upload/2017/02/04/bbs/i13928935885.gif", alt="Third slide")
      |   
      a.carousel-control-prev(href="#carouselExampleIndicators", role="button", data-slide="prev")
        span.carousel-control-prev-icon(aria-hidden="true")
        |     
        span.sr-only Previous
      |   
      a.carousel-control-next(href="#carouselExampleIndicators", role="button", data-slide="next")
        span.carousel-control-next-icon(aria-hidden="true")
        |     
        span.sr-only Next

    p




    .card-columns
      .card
        img.card-img-top.img-fluid(src="http://via.placeholder.com/242x160", alt="Card image cap")
        .card-block
          h4.card-title Card title that wraps to a new line
          p.card-text This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .card.p-3
        blockquote.card-block.card-blockquote
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          footer
            small.text-muted Someone famous in 
              cite(title="Source Title") Source Title
      |   
      .card
        img.card-img-top.img-fluid(src="http://via.placeholder.com/242x160", alt="Card image cap")
        |     
        .card-block
          h4.card-title Card title
          |       
          p.card-text This card has supporting text below as a natural lead-in to additional content.
          |       
          p.card-text
            small.text-muted Last updated 3 mins ago
      |   
      .card.card-inverse.card-primary.p-3.text-center
        blockquote.card-blockquote
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
          |       
          footer
            small
              | Someone famous in 
              cite(title="Source Title") Source Title
      |   
      .card.text-center
        .card-block
          h4.card-title Card title
          |       
          p.card-text This card has supporting text below as a natural lead-in to additional content.
          |       
          p.card-text
            small.text-muted Last updated 3 mins ago
      |   
      .card
        img.card-img.img-fluid(src="http://via.placeholder.com/242x160", alt="Card image")
      |   
      .card.p-3.text-right
        blockquote.card-blockquote
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          |       
          footer
            small.text-muted
              | Someone famous in 
              cite(title="Source Title") Source Title
      |   
      .card
        .card-block
          h4.card-title Card title
          |       
          p.card-text
            | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
          |       
          p.card-text
            small.text-muted Last updated 3 mins ago


    .card-group
        .card
            img.card-img-top(src="http://via.placeholder.com/350x150", alt="Card image cap")
            |     
            .card-block
            h4.card-title Card title
            |       
            p.card-text
                | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            |     
            .card-footer
                small.text-muted Last updated 3 mins ago
        |   
        .card
            img.card-img-top(src="http://via.placeholder.com/350x150", alt="Card image cap")
            |     
            .card-block
            h4.card-title Card title
            |       
            p.card-text This card has supporting text below as a natural lead-in to additional content.
            |     
            .card-footer
                small.text-muted Last updated 3 mins ago
        |   
        .card
            img.card-img-top(src="http://via.placeholder.com/350x150", alt="Card image cap")
            |     
            .card-block
            h4.card-title Card title
            |       
            p.card-text
                | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
            |     
            .card-footer
                small.text-muted Last updated 3 mins ago

    p



    p   


    div(class="card card-inverse card-primary mb-3 text-center")
        div(class="card-block")
            blockquote(class="card-blockquote")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. 
            footer Someone famous in 
                cite(title="Source Title") Source Title

    div(class="card card-inverse card-success mb-3 text-center")
        div(class="card-block")
            blockquote(class="card-blockquote")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. 
            footer Someone famous in 
                cite(title="Source Title") Source Title

    div(class="card card-inverse card-info mb-3 text-center")
        div(class="card-block")
            blockquote(class="card-blockquote")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. 
            footer Someone famous in 
                cite(title="Source Title") Source Title



    .card.card-outline-primary.mb-3.text-center
      .card-block
        blockquote.card-blockquote
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          |       
          footer
            | Someone famous in 
            cite(title="Source Title") Source Title
    .card.card-outline-secondary.mb-3.text-center
      .card-block
        blockquote.card-blockquote
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          |       
          footer
            | Someone famous in 
            cite(title="Source Title") Source Title
    .card.card-outline-success.mb-3.text-center
      .card-block
        blockquote.card-blockquote
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          |       
          footer
            | Someone famous in 
            cite(title="Source Title") Source Title
    .card.card-outline-info.mb-3.text-center
      .card-block
        blockquote.card-blockquote
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          |       
          footer
            | Someone famous in 
            cite(title="Source Title") Source Title
    .card.card-outline-warning.mb-3.text-center
      .card-block
        blockquote.card-blockquote
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          |       
          footer
            | Someone famous in 
            cite(title="Source Title") Source Title
    .card.card-outline-danger.text-center
      .card-block
        blockquote.card-blockquote
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          |       
          footer
            | Someone famous in 
            cite(title="Source Title") Source Title


    p


    .card.card-inverse.card-warning.mb-3.text-center
      .card-block
        blockquote.card-blockquote
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          footer
            | Someone famous in 
            cite(title='Source Title') Source Title

    .card.card-inverse.card-danger.text-center
        .card-block
            blockquote.card-blockquote
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              |       
              footer
                | Someone famous in 
                cite(title='Source Title') Source Title

    p

    .card-group
      .card
        img.card-img-top(src="http://via.placeholder.com/350x150", alt="Card image cap")
        |     
        .card-block
          h4.card-title Card title
          |       
          p.card-text
            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          |       
          p.card-text
            small.text-muted Last updated 3 mins ago
      |   
      .card
        img.card-img-top(src="http://via.placeholder.com/350x150", alt="Card image cap")
        |     
        .card-block
          h4.card-title Card title
          |       
          p.card-text This card has supporting text below as a natural lead-in to additional content.
          |       
          p.card-text
            small.text-muted Last updated 3 mins ago
      |   
      .card
        img.card-img-top(src="http://via.placeholder.com/350x150", alt="Card image cap")
        |     
        .card-block
          h4.card-title Card title
          |       
          p.card-text
            | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
          |       
          p.card-text
            small.text-muted Last updated 3 mins ago


    p 
        abbr(title='attribute') attr
    p

    h1 Example 
        span(class='badge badge-default') New
    p

    span(class='badge badge-default') Default
    p

    span(class='badge badge-pill badge-default') Default
    p

    ol(class='breadcrumb')
        li(class='breadcrumb-item active') Home

    p
    nav(class='breadcrumb')
        a(class='breadcrumb-item' href='#') Home
        a(class='breadcrumb-item' href='#') Library
        a(class='breadcrumb-item' href='#') Data
        span(class='breadcrumb-item active') Bootstrap

    p
    button(type='button' class='btn btn-primary') Primary 
    p
    button(type='button' class='btn btn-secondary') Secondary 
    p
    button(type='button' class='btn btn-success') Success 
    p
    button(type='button' class='btn btn-info') Info 
    p
    button(type="button" class="btn btn-outline-primary") Primary
    p
    button(type="button" class="btn btn-primary btn-lg") Large button
    p
    button(type="button" class="btn btn-primary btn-sm") Small button
    p
    button(type="button" class="btn btn-primary btn-lg btn-block") Block level button
    p
    a(href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true") Primary link
    p
    button(type="button" class="btn btn-lg btn-primary" disabled) Primary button
    p
    button(type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off") toggle
    
    p

    div(class="btn-group" data-toggle="buttons")
        label(class="btn btn-primary active") Checkbox 1 (pre-checked)
            input(type="checkbox" checked autocomplete="off")
        label(class="btn btn-primary active") Checkbox 2
            input(type="checkbox" checked autocomplete="off")
        label(class="btn btn-primary active") Checkbox 3
            input(type="checkbox" checked autocomplete="off")
    p

    div(class="btn-group" data-toggle="buttons")
        label(class="btn btn-primary active") Radio 1 (preselected)
            input(type="radio" name="options" id="option1" autocomplete="off" checked)
        label(class="btn btn-primary active") Radio 2
            input(type="radio" name="options" id="option1" autocomplete="off" checked)
        label(class="btn btn-primary active") Radio 3
            input(type="radio" name="options" id="option1" autocomplete="off" checked)
    p

    div(class="card" style="width: 20rem;")
        img(class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap")
        div(class="card-block")
            h4(class="card-title") Card title
            p(class="card-text") Some quick example text to build on the card title and make up the bulk of the card's content.
            a(href="#" class="btn btn-primary") Go somewhere

    p

    div(class='card')
        div(class='card-block') This is some text within a card block.

    p

    div(class='card')
        div(class='card-block')
            h4(class='card-title') Card title
            h6(class='card-subtitle mb-2 text-muted') Card subtitle
            p(class="card-text") Some quick example text to build on the card title and make up the bulk of
            a(href="#" class="card-link") Card link
            a(href="#" class="card-link") Another link

    p

    div(class="card")
        img(class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap")
        div(class="card-block")
        p(class="card-text") Some quick example text to build on the card title and make 

    p

    div(class="card")
        ul(class="list-group list-group-flush")
            li(class="list-group-item") Cras justo odio
            li(class="list-group-item") Dapibus ac facilisis in
            li(class="list-group-item") Vestibulum at eros

    p

    div(class="card" style="width: 20rem;")
        img(class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap")
        div(class="card-block")
            h4(class="card-title text-center") Card title
            p(class="card-text text-right") Some quick example text to build on the card title and make up the 
        ul(class="list-group list-group-flush")
            li(class="list-group-item text-right") Cras justo odio
            li(class="list-group-item") Dapibus ac facilisis in
            li(class="list-group-item") Vestibulum at eros
        div(class="card-block")
            a(href="#" class="card-link") Card link
            a(href="#" class="card-link") Another link

    p

    div(class="card card-inverse")
        img(class="card-img" src="https://i.redd.it/0eslbks1rpvy.jpg" alt="Card image")
        div(class="card-img-overlay")
            h4(class="card-title") Card Title
            p(class="card-text") This is a wider
            p(class="card-text")
                small(class="text-muted") Last updated 3 mins ago
    
    p

    div(class="card card-inverse" style="background-color: #333; border-color: #333;")
        div(class="card-block")
            h4(class="card-title") Card Title
            p(class="card-text") This is a wider
            p(class="card-text")
                small(class="text-muted") Last updated 3 mins ago
            a(href="#" class="btn btn-primary") Go somewhere


    p

    h1 ui 예제 

    p

    ul(class='list-unstyled')
        li Lorem ipsum dolor sit amet
        li conserctetur adipiscing elit
        li Integer molestie lorem at massa
        li Facilisis in pretium nisl aliquet

    ul(class='list-inline')
        li(class='list-inline-item') 메뉴1
        li(class='list-inline-item') 메뉴2
        li(class='list-inline-item') 메뉴3

    dl(class='row')
        dt(class='col-sm-3') Description lists
        dd(class='col-sm-9') A description list is perfect for defining terms.

    h1 테이블 예제 

    table(class='table')
        thead   
            tr  
                th #
                th First Name
                th Last Name
                th Username
        tbody
            each item in tables
                tr
                    th(scope='row') #{item.index}
                    td #{item.firstName}
                    td #{item.lastName}
                    td #{item.userName}
    
    table(class='table table-inverse')
        thead   
            tr  
                th #
                th First Name
                th Last Name
                th Username
        tbody
            each item in tables
                tr
                    th(scope='row') #{item.index}
                    td #{item.firstName}
                    td #{item.lastName}
                    td #{item.userName}


    table(class='table')
        thead(class='thead-inverse')   
            tr  
                th #
                th First Name
                th Last Name
                th Username
        tbody
            each item in tables
                tr
                    th(scope='row') #{item.index}
                    td #{item.firstName}
                    td #{item.lastName}
                    td #{item.userName}          

    table(class='table')
        thead(class='thead-default')   
            tr  
                th #
                th First Name
                th Last Name
                th Username
        tbody
            each item in tables
                tr
                    th(scope='row') #{item.index}
                    td #{item.firstName}
                    td #{item.lastName}
                    td #{item.userName}        

    table(class='table')
        thead(class='thead-striped')   
            tr  
                th #
                th First Name
                th Last Name
                th Username
        tbody
            each item in tables
                tr
                    th(scope='row') #{item.index}
                    td #{item.firstName}
                    td #{item.lastName}
                    td #{item.userName}      

    table(class='table table-bordered')
        thead   
            tr  
                th #
                th First Name
                th Last Name
                th Username
        tbody
            each item in tables
                tr
                    th(scope='row') #{item.index}
                    td #{item.firstName}
                    td #{item.lastName}
                    td #{item.userName}       

    table(class='table table-hover')
        thead   
            tr  
                th #
                th First Name
                th Last Name
                th Username
        tbody
            each item in tables
                tr
                    th(scope='row') #{item.index}
                    td #{item.firstName}
                    td #{item.lastName}
                    td #{item.userName}       

    table(class='table table-sm')
        thead   
            tr  
                th #
                th First Name
                th Last Name
                th Username
        tbody
            each item in tables
                tr
                    th(scope='row') #{item.index}
                    td #{item.firstName}
                    td #{item.lastName}
                    td #{item.userName}                      


    script(src='/javascripts/index.js')