extends layout

block content
    
    p

    .row
          .col-6
            a.typewrite(target='client_game' data-period='2000', data-type='[ "안녕하세요 관리자 회원님", "귀하의 건승을 기원 합니다.", "무슨일이든 꼭 해낼수 있습니다.", "한번 회원은 영원한 회원, 부자 되세요!" ]' style='color: #008040; font-size:1.5em;')
                span.wrap
          .col-6
            .text-right
                i.fa.fa-minus-circle(id='client_game_close' style='display:none;')   
                a(href='http://x8dev.cafe24.com:81/bitframe', id='client_game_open' target='client_game')
                    .fa.fa-plus-circle           
            
    p

    iframe(name='client_game' style='width:100%; height:500px; border:0; display:none;')


    div(class="mx-100 p-2 alert alert-success rounded" )
        .row(class="p-1")
            .col-3
                 h4(class="alert-heading")
                     i(class="fa fa-id-card")  CrashRate(30)

        .row
            .col-3
                input.form-control(type="text", name="crash_site_agent" placeholder="에이전트" value=crashRates.site_agent)
            |   
            .col-2
                input.form-control(type="text", name="crash_userid" placeholder="아이디" value=crashRates.userid)
            .col-2
                input.form-control(type="text", name="crash_rate" placeholder="값" value=crashRates.rate)
            |   
            .col-5
                button.mr-1.btn.btn-success(type="button" onclick="btn.crashAdd();") CRASH
                button.mr-1.btn.btn-success(type="button" onclick="btn.serverSend();") 서버전송

        p

        h4(class="alert-heading") 
            i(class="fa fa-id-card")  RiskPer(15)
        .row
            .col-3
                input.form-control(type="text", name="risk_site_agent" placeholder=에이전트 value=riskPer.site_agent)
            |   
            .col-2
                input.form-control(type="text", name="risk_userid" placeholder=아이디 value=riskPer.userid)
            .col-2
                input.form-control(type="text", name="risk_rate" placeholder=값 value=riskPer.rate)
            |   
            .col-5
                button.mr-1.btn.btn-success(type="button" onclick="btn.riskAdd();") RISK
                button.mr-1.btn.btn-success(type="button" onclick="btn.serverSend();") 서버전송

    p

    .alert.alert-warning.alert-dismissible.fade.show(role='alert', id="alert_server", style="display:none;")
        button.close(type='button', aria-label='Close' id="alert_server_close")
            span(aria-hidden='true') ×
        strong 

    p

    h4 
        i(class="fa fa-address-book")   서버 전송 히스토리 

    table(class='table' id="result_set" style="table-layout: fixed;")
        thead(class='thead-striped')      
            tr  
                th.text-center #
                th.text-center 에이전트
                th.text-center 아이디
                th.text-center 값
                th.text-center 전송여부
                th.text-center 전송일자
                th.text-center 
                        button.btn.btn-danger(onclick='btn.rowAllRemove();')  
                            i.fa.fa-trash  전체삭제
                th.text-center
                    i.fa.fa-pencil
        tbody                

    p(style="margin-bottom: 50px;")        

    // Nav tabs
    ul.nav.nav-tabs(role='tablist')
        li.nav-item
            a.nav-link.active(data-toggle='tab', href='#agent_reg', role='tab') 에이전트 관리
        li.nav-item
            a.nav-link(data-toggle='tab', href='#member_mng', role='tab') 회원 관리
    // Tab panes
    .tab-content
        #agent_reg.tab-pane.active(role='tabpanel') 
            p
            .form-group.row
                label.col-2.col-form-label(for='example-text-input') key
                .col-10
                    input#_id-input.form-control(type='text', value='01')
            .form-group.row
                label.col-2.col-form-label(for='example-text-input') 에이전트 명
                .col-10
                    input#agent-input.form-control(type='text', value='xyz1')
            .form-group.row
                label.col-2.col-form-label(for='example-search-input') referer 주소
                .col-10
                    input#referer-input.form-control(type='search', value='http://x8dev.cafe24.com')
                
            .form-group.row                    
                .col-6
                    button.btn.btn-success.form-control(type='button' onclick='btn.reg()') 등록
                .col-6                    
                    button.btn.btn-warning.form-control(type='button' onclick='btn.cancel()') 취소

            
        #agent_edit.tab-pane(role='tabpanel') 2
        #agent_remove.tab-pane(role='tabpanel') 3
        #member_mng.tab-pane(role='tabpanel') 
            table.table#memberList
                thead
                    tr
                        th 번호
                        th 이름
                        th 아이디
                        th 비밀번호
                        th 소속
                        th 삭제
                        th 수정
                tbody


    p(style="margin-bottom: 50px;")                

    h4 
        i(class="fa fa-address-book")   서버 데이터

    table(class='table' id="result_server_his")
        thead   
            tr  
                th #
                th 에이전트
                th referer
                th 등록일자
        tbody
           

    .text-center
        p(id='pageNo') 페이지 번호 : #{page}
        .btn-group(role='group', aria-label='paging')
            button.btn.btn-secondary(id='btn_page_more' type='button' onclick='btn.moreList();' value=page totCnt=totCnt perPage=perPage) 더보기
                    

    script(src="/javascripts/input.js")
